<div class="container">
  <div class="page-header">
    <h1>Packages from <%= @sender.name %></h1>
  </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name </th>
          <th>Shipping Co.</th>
          <th>Delivery Date</th>
          <th>Status</th>
          <th>Tracking No</th>
          <th>Sender</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sender.packages.where(user_id: current_user).each do |package| %>
        <tr>
          <td><a href="/packages/<%= package.id %>"><%= package.name %></a></td>
          <td><%= package.shipping_co %></td>
          <td><%= package.delivery_date %></td>
          <td><%= package.status %></td>
          <td><%= package.tracking_no %></td>
          <td><%= package.sender.name %></td>
          <td><a href="/packages/<%= package.id %>/edit">Edit</a></td>
          <td><form action="/packages/<%= package.id %>/delete" method="post">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <input type="submit" value="Delete"> </form> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
      <br>

      <a href="/packages/new">Add a Package</a> | <a href="/packages">All Packages</a> | <a href="/logout">Logout</a>
</div>
